<div class= container>

	<button type="button" ng-init ="emp={}" class="btn btn-primary" data-toggle="modal" data-target="#showModEmp">Add Employee</button>

	  
	<!-- Modal -->
	<div class="modal fade" id="showModEmp" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeDialogue()" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Employee</h4>
				</div>
				<div class="modal-body">
<form name="myForm" >
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input type="text" ng-model="emp.firstName" name="fnameInput" 
						class="form-control" placeholder="Enter FirstName" ng-maxlength="150" required/>
						<span class="error" ng-show="myForm.fnameInput.$error.required">
       						Required!
     					  </span>
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label>
						<input type="text" ng-model="emp.lastName" name="lnameInput" class="form-control" placeholder="Enter LastName" ng-maxlength="150" required/>
						
     					  <span class="invalid" ng-show="myForm.lnameInput.$error.required">Required!</span>
					</div>

					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" name="emailInput" ng-model="emp.email" class="form-control" placeholder="Enter email"ng-maxlength="150" required />
						
						  <span class="error" ng-show="myForm.emailInput.$error.required">
       						Required!
     					  </span>
						  <span class="error" ng-show="myForm.emailInput.$error.email">
						        Not a valid email!
						  </span>

					</div>
					<div class="form-group">
						<label for="position">Role</label>
						<input type="text" ng-model="emp.position"  class="form-control" placeholder="Enter Role"ng-maxlength="75" />
						<span class="error" ng-show="myForm.positionInput.$error.required">
       						Required!
     					  </span>
					</div>

				</div>

				<div class="modal-footer">
					<button type="submit" ng-disabled="myForm.$invalid" ng-click="saveLocalData()" class="btn btn-default">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				</form>
			</div>

		</div>
	</div>


	<div class="table-responsive">          
		<table class="table">
			<thead>
				<tr>
					<th>S.No</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Position</th>
				</tr>
			</thead>
			<tbody  ng-repeat="employee in content">
				<tr>
					<td>{{$index + 1}}</td>
					<td>{{employee.firstName}}</td>
					<td>{{employee.lastName}}</td>
					<td>{{employee.email}}</td>
					<td>{{employee.position}}</td>

					<td><a href=""  ng-click="editEmployeeData(employee, $index);">Edit</a>
					<td><a href="" ng-click="deleteEmployee($index)">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="button" ng-click="postModData()" class="btn btn-success">Save Data in DB</button>
	</div>
